/* Styles for header and page title */
.top-row {
    background-color: #13A496;
    padding: 0px 5px 0px 5px;
    height: auto; /* Adjust height as needed */
    display: flex;
    flex-direction: row;
}

.page-title {
    font-size: 100px;
    color: #563635;
    margin: 5px;
    padding: 5px;
    
}

/* Styles for top navigation */
nav {
    padding-top: 0px;
}

nav ul {
    list-style-type: none;
    padding-left: 130px;
    padding-top: 25px;
}

nav .buttons {
    display: inline-block;
    margin-right: 10px;
    color: #B8BBB4;
    background-color: #563635;
    padding: 15px;
    font-size: 24px;
}

h2 {
    color: #563635;
    -webkit-text-stroke: 2px #B8BBB4;
    text-shadow: 1px 1px 0 #563635;
    font-size: 32px;
    text-align: end;
    padding: 100px 10px 0px 0px;
    background-image: url(../images/new\ background.jpeg);
    margin: 0
}

/* Styles for content sections */

main {
    color: #B8BBB4;
}

#profile-picture {
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 360px;
}

h3 {
    padding: 15px 15px 15px 15px;
    margin: 5px 5px 5px 5px;
    text-align: start;
    border-right: 2px solid #78C091;
    max-width: 150px;
    font-size: 32px;
}

p {
    text-indent: 20px;
    padding-right: 25px;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    justify-content: center;
}

.work-image1, .work-image2, .work-image3:hover {
    background: blue;
    
}

.work-image1 {
    height: 500px;
    width: 1000px;
    border:5px solid #13A496;
    border-radius: 20px;
}

.work-image2 {
    height: 250px;
    width: 495px;
    border:5px solid #13A496;
    border-radius: 20px;
}

.work-image3 {
    height: 250px;
    width: 495px;
    border: 5px solid #13A496;
    border-radius: 20px;
}

.info {
    font-size: 30px;
    color: #B8BBB4;
}


/* Defining the Grid */
.grid {
    display: inline-grid;
    grid-gap: 60px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
}

.about-me-title {
    grid-column: 1;
    grid-row: 1 / span 2; /* Adjusted row span to cover two rows */
    display: flex;
    flex-direction: column;
    
}

.paragraphs {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    font-size: 18px;
}

.work-title {
    grid-column: 1;
    grid-row: 3;
}

.first-image {
    grid-column: 2;
    grid-row: 3;
}

.other-images {
    grid-column: 2;
    grid-row: 4 / span 2;
}

.contact-info-title {
    grid-column: 1;
    grid-row: 6;
}

.contact-info-content {
    grid-column: 2;
    grid-row: 6;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.resume-title {
    grid-column: 1;
    grid-row: 7;
}

.resume-content {
    grid-column: 2;
    grid-row: 7;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; /* Single column layout on small screens */
    }
}